html{
	font-size: 100%;
}


*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Bree Serif', serif;
}
body{
	background: #000;
	color: white;
}
.header{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('header.png');
	background-size: cover;
	background-position: center;
	padding: 0.625rem 8%;
	position: relative;
}
.nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.625rem 0;
}
.logo{
	width: 9.375rem;
	cursor: pointer;
}
.nav button{
	border: 0px;
	outline: 0px;
	background: #db0001;
	color: white;
	border-radius: 0.625rem;
	padding: 0.438rem 1.25rem;
	font-size: 0.75rem;
	margin-left: 0.625rem;
	cursor: pointer;
}
.btn-lang{
	display: inline-flex;
	align-items: center;
}
.btn-lang img{
	width: 0.625rem;
	margin-left: 0.625rem;
}
.content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	margin-top: 3.125rem;
}
.content h1{
	font-size: 3rem;
	font-weight: 600;
	max-width: 40.625rem;
	line-height: 3.75rem;
}
.content h3{
	font-weight: 400;
	margin-bottom: 0.438rem;
	margin-top: 0.313rem;
}
.content p{
	margin-bottom: 1.063rem;
}
.email form{
	background: white ;
	border-radius: 0.625rem;
	display: flex;
	align-items: center;
	overflow: hidden;
}.email form input{
	border: 0px;
	outline: 0px;
	margin-left: 1.25rem;
	flex: 1;
}
.email form button{
	background: #db0001;
	border: 0px;
	outline: 0px;
	color: white;
	font-size: 1rem;
	cursor: pointer;
	padding: 0.938rem 1.875rem;
}
.sec1{
	width: 100%;
	height: 31.387rem;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sec-cont p{
	font-size: 1.5rem;
	width: 29.516rem;
	height: 6rem;
	margin-right: 0.438rem;
}
.sec-cont h2{
	font-size: 3rem;
	font-weight: 900;
	margin-right: 0.438rem;
}
.b1 img{
	width: 100%;
	height: 21.875rem;
	margin: 1.25rem;
}
.hr{
	border: 0.313rem solid grey;
}
.sec2-h{
	height: 12rem;
	width: 29.5rem;
}
.sec4-h{
   width: 29.5rem;
   height: 9.375rem;
}
.faq{
	width: 100%;
	height: 58.125rem;
	padding: 4.5rem 12%;
	font-size: 1.5rem;
	text-align: center;
}
.faq h2{
	font-weight: 500;
	font-size: 2.5rem;
}
.accordian{
	margin: 3.75rem auto;
	width: 100%;
	max-width: 56.25rem;
}
.accordian li{
	list-style: none;
	width: 100%;
	padding: 0.313rem;
}
.accordian li label{
	display: flex;
	align-items: center;
	padding: 1.25rem;
	font-size: 1.25rem;
	font-weight: 450;
	background: #303030;
	margin-bottom: 0.125rem;
	cursor: pointer;
	position: relative;
}
.faq li label::after{
	content: '+';
	font-size: 2.125rem;
	position: absolute;
	right: 1.25rem;
	transition: transform 0.5s;
}
input[type="radio"]{
	display: none;
}
.accordian .fcont{
	background: #303030;
	text-align: left;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s, padding 0.5s;
}
.accordian input[type="radio"]:checked + label + .fcont{
	max-height: 600px;
	padding: 1.875rem 1.25rem;
}
.accordian input[type="radio"]:checked + label::after{
	transform: rotate(135deg);
}
.faq .email form{
	max-width: 600px;
	margin: 1.25rem auto 3.75rem;
}
.faq small{
	font-size: 0.938rem;
}
.foot{
	height: 29.063rem;
	align-items: center;
	justify-content: center;
	margin-top: 6.25rem;
}
.f1{
	display: flex;
}
.foot h2{
	width: 43.75rem;
	font-size: 1rem;
	padding: 0.75rem 0px;
	margin-left: 1.25rem;
	padding-top: 4.688rem;
}
.foot ul li{
	list-style: none;
	margin-top: 6.25rem;
}
.f1 ul li a{
	display: block;
	text-decoration: none;
	color: #777;
	font-size: 0.875rem;
	margin-bottom: 0.625rem;
	margin-left: 3.125rem;
	font-size: 1rem;
}
.f1{
	margin-left: 21.875rem;
}


@media(max-width: 900px) {
	html{
		font-size: 75%;
	}
}

@media(max-width: 660px) {
	html{
		font-size: 62%;
	}
}

@media(max-width: 498px) {
	html{
		font-size: 55%;
	}
}

@media(max-width: 450px) {
	html{
		font-size: 50%;
	}
}

@media(max-width: 400px) {
	html{
		font-size: 45%;
	}
}